@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  }

  html {
    font-family: "Playfair Display", system-ui, sans-serif;
  }
}

* {
  margin:0;
  padding:0;
}